@import "tailwindcss";

body {
  font-family: var(--font-inter);
  background-color: #f5f1ea;
  color: #111827;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair);
}

.font-body {
  font-family: var(--font-inter);
}

.font-heading {
  font-family: var(--font-playfair);
}